

.column2 {
    width: 45%;
    height: auto;
    float: right;
    margin-right: 5%;
}

.container {
	width:1160px;
	height:auto;
}
.column1 {
    width: 40%;
    height: auto;
    float: left;
    margin-right: 10%;
}
.bcimg {
    margin-bottom: 20px;
	width: 100%;
	max-width: 500px;
	border-radius: 4px;
	border: 2px solid black;

}

h1 {
	color: #da0432;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;
	-webkit-text-stroke: 2px black;


}

body {
	font-family: 'Raleway', sans-serif;
}

.button {
	background-color: #8a100b;
	border: 1px solid #8a100b;
}
.button:hover, .button:focus {
	background-color: #726158;
	border: 1px solid #726158;
}

.generated-content{
	margin: 20px 0;
	padding: 20px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 4px;
    margin-right:20px;
}